body {
    text-align: center;
    margin: 10px auto;
}
#input-el {
 background: white;
 border: black 2px solid;
 border-radius: 5px;
 padding: 5px 10px;
}
#add-btn {
    background: green;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    color: aliceblue;
}
.paragraph {
    
}